extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, 
                           consectetur adipiscing elit. Pellentesque in blandit sapien, et consequat turpis. Duis risus eros, laoreet rhoncus ultrices id, consequat eu dolor. In hac habitasse platea dictumst. Mauris leo dolor, suscipit sed pellentesque non, venenatis et turpis. Suspendisse potenti. Vestibulum ac malesuada nibh, sed consequat risus. Nulla bibendum ante enim, vel suscipit sem posuere at. 
                           Integer luctus velit pulvinar, pharetra lorem eget, hendrerit nisl. Donec eleifend magna a posuere egestas.
                p tristique nibh. Duis ut iaculis lectus. Fusce aliquet pellentesque tincidunt. Donec ut iaculis risus. Sed justo magna, faucibus sit amet mauris et, iaculis mollis erat.
                
                p ullamcorper massa rhoncus. Sed vitae volutpat leo. Proin aliquam tristique dignissim. Vestibulum sed ante nec mauris scelerisque aliquam.


    .listado-iconos
         .container.mt-5.py-5.text-center
             .row
                 .col-md-4
                      img(src="img/icono_seguridad.svg", clasName="img-fluid mb-4")
                      h2.mb-2 Seguridad 
                      pDonec id felis rhoncus, aliquet metus in, tristique nibh. Duis ut iaculis lectus. Fusce aliquet pellentesque tincidunt. Donec ut iaculis risus. Sed justo magna, faucibus sit amet mauris et, iaculis mollis erat.              
                 .col-md-4
                      img(src="img/icono_destinos.svg", clasName="img-fluid mb-4")
                      h2.mb-2 Mejores Destinos
                      pDonec id felis rhoncus, aliquet metus in, tristique nibh. Duis ut iaculis lectus. Fusce aliquet pellentesque tincidunt. Donec ut iaculis risus. Sed justo magna, faucibus sit amet mauris et, iaculis mollis erat.
                 .col-md-4
                      img(src="img/icono_precios.svg", clasName="img-fluid mb-4")
                      h2.mb-2 Mejor precio
                      pDonec id felis rhoncus, aliquet metus in, tristique nibh. Duis ut iaculis lectus. Fusce aliquet pellentesque tincidunt. Donec ut iaculis risus. Sed justo magna, faucibus sit amet mauris et, iaculis mollis erat.